body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f89af0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: #86b8e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.image-container img {
    max-width: 60%;
    height: auto;
    border-radius:10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}